[package]
name = "kubectl-view-allocations"
version = "0.7.3-dev"
authors = ["David Bernard"]
edition = "2018"
description = "kubectl plugin to list allocations (cpu, memory, gpu,... X requested, limit, allocatable,...)"
readme = "README.md"
license = "CC0-1.0"
keywords = ["kubectl", "k8s"]
repository = "https://github.com/davidB/kubectl-view-allocations"
homepage = "https://github.com/davidB/kubectl-view-allocations"
exclude = ["/.github", "/.dependabot", ".gitignore"]

[dependencies]
tokio = { version = "0.2.11", features = ["full"]}
kube = { version = "0.25.0", features = ["openapi"] }
k8s-openapi = { version = "0.7.1", features = ["v1_15"], default-features = false }
log = "0.4.8"
env_logger = "0.7.1"
anyhow = "1.0.26"
serde_json = "1.0.45"
itertools = "0.8.2"
prettytable-rs = { version = "0.8.0", default-features = false}
structopt = "0.3.9"
openssl = { version = "0.10.27", features = ["vendored"] }

[dev-dependencies]
spectral = "0.6.0"

[profile.release]
lto = true
panic = 'abort'
opt-level = 'z'  # Optimize for size.
codegen-units = 1
