[package]
name = "kubectl-view-allocations"
version = "0.14.9-dev"
authors = ["David Bernard"]
edition = "2021"
description = "kubectl plugin to list allocations (cpu, memory, gpu,... X utilization, requested, limit, allocatable,...)"
readme = "README.md"
license = "CC0-1.0"
keywords = ["kubectl", "k8s"]
repository = "https://github.com/davidB/kubectl-view-allocations"
homepage = "https://github.com/davidB/kubectl-view-allocations"
exclude = ["/.github", ".gitignore"]

[dependencies]
tokio = { version = "1.6", features = ["full"], optional = true }
kube = { version = "0.71.0", features = [
    "client",
    "oauth",
    "gzip",
    "native-tls",
], default-features = false }
k8s-openapi = { version = "0.14.0", default-features = false }
thiserror = "1.0"
serde = "1.0"
serde_json = "1.0"
itertools = "0.10"
prettytable-rs = { version = "0.8", default-features = false, optional = true }
clap = { version = "3.0", features = ["derive"] }
openssl = { version = "0.10", features = ["vendored"] }
chrono = "0.4"
tracing = "0.1"
tracing-bunyan-formatter = { version = "0.3", optional = true }
tracing-subscriber = { version = "0.3", optional = true, default-features = false, features = [
    "env-filter",
] }

[features]
default = ["cli"]
cli = [
    "tokio",
    "k8s-openapi/v1_22",
    "tracing-subscriber",
    "tracing-bunyan-formatter",
    "prettytable",
]
prettytable = ["prettytable-rs"]

[[bin]]
name = "kubectl-view-allocations"
path = "src/main.rs"
doc = false
# HACK to define dependencies only for cli
# see https://github.com/rust-lang/cargo/issues/1982
required-features = ["cli"]

[dev-dependencies]
spectral = "0.6.0"
anyhow = "1.0"

[profile.release]
lto = true
panic = 'abort'
opt-level = 'z'   # Optimize for size.
codegen-units = 1
