name: release-flow

# https://help.github.com/en/articles/events-that-trigger-workflows#release-event-release
# on: release

on:
  workflow_dispatch:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+*"

jobs:
  build:
    runs-on: ${{ matrix.os.imageName }}
    strategy:
      matrix:
        rust_toolchain: ["stable"]
        os:
          - target_platform: x86_64-unknown-linux-gnu
            imageName: ubuntu-latest
            cross: "true"
          - target_platform: x86_64-apple-darwin
            imageName: "macOS-latest"
          - target_platform: aarch64-apple-darwin
            imageName: "macOS-latest"
          - target_platform: x86_64-pc-windows-msvc
            imageName: windows-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/cache@v3.2.6
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.rust_toolchain }}
          target: ${{ matrix.os.target_platform }}
          override: true
          profile: minimal
      - uses: davidB/rust-cargo-make@v1
      - name: Make zip-release-ci-flow
        id: zip-release-ci-flow
        run: cargo make --disable-check-for-updates zip-release-ci-flow
        env:
          TARGET: ${{ matrix.os.target_platform }}
          CROSS: ${{ matrix.os.cross }}
          # DEVELOPER_DIR: "/Applications/Xcode_11.app/Contents/Developer"
      - name: Upload binaries to release
        # if: startsWith(github.ref, 'refs/tags/')
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          file: ${{ steps.zip-release-ci-flow.outputs.dist_file_path }}
          # asset_name: ${{ steps.zip-release-ci-flow.outputs.dist_file_name }}
          # tag: ${{ github.ref }}
          tag: ${{ steps.zip-release-ci-flow.outputs.dist_version }}
          prerelease: ${{ github.ref == format('refs/tags/{0}', steps.zip-release-ci-flow.outputs.dist_version) }}
          overwrite: true
